.contact-me {
  padding: 40px 15px;
  display: flex;
  justify-content: center;
}
.contact-title {
  color: #00c9ff;
  font-weight: 600;
  font-size: larger;
  margin-bottom: 20px;
}
.contact-content {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 300px;
}
.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.send-button {
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 87, 121, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 10px;
  color: white;
  font-weight: 700;
}
@media (max-width: 650px) {
   .form{
       min-width: none;
       font-size: small;
   }
  }
