.education {
  display: flex;
  justify-content: center;
  padding: 40px 15px 15px 0px;
}
.education .title {
  color: #00c9ff;
  font-weight: 600;
  font-size: larger;
  margin-bottom: 20px;
}
.education-content{
    text-align: center;
}
@media (max-width: 650px) {
    .education{
        padding: 40px 0px 0px 0px;
    }
  }
