.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 10px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}
.left-side{

}
.right-side{
    display: flex;
}
.header-link{
    color: white;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    font-size: small;
}
.header-link:hover {
    color: #00C9FF
}
.hamburger-menu{
    display: none;
}
@media (max-width: 600px) {
    .right-side{
        display: none;
    }
    .hamburger-menu{
        display: contents;
    }
    .hamburger-icon{
        cursor: pointer;
        margin-right: 10px;
    }
    .select-menu{
        padding: 10px;
        position: fixed;
        margin-top: 30px;
        right: 0;
        top: 0;
        background-color: black;
    }
  }